[user]
    name = Vincevrp
    email = Vincevrp@users.noreply.github.com

[push]
    default = simple

[github]
    user = Vincevrp

[diff]
    tool = vimdiff

[difftool]
	prompt = false

[color]
    ui = true
