[user]
    name = Vincevrp
    email = vince@vince.sh
    signingKey = 0x4638DFB8432AAB98

[pull]
    rebase = true

[push]
    default = simple

[commit]
    verbose = true

[github]
    user = Vincevrp

[diff]
    tool = vimdiff

[difftool]
    prompt = false

[color]
    ui = true

[url "ssh://git@github.com:"]
    insteadOf = git://github.com
