/* Rofi configuration */

configuration {
    modi:                   "run,ssh,window";
    matching:               "fuzzy";
    font:                   "Hack Nerd Font 11";
    lines:                  7;
    separator-style:        "solid";
    hide-scrollbar:         true;
    kb-row-down:            "Control+j";
    kb-row-up:              "Control+k";
    kb-accept-entry:        "Return,KP_Enter";
    kb-remove-to-eol:       "";
}

@theme "theme.rasi"
